extends base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="아이디(이메일)", type="email", name="email", required, autocomplete="username")
        input(placeholder="PW", type="password", name="password", required, autocomplete="current-password")
        input(type="submit", value="LOGIN")
    
    a(href="/users/github/start") Github
    br
    a(href="/users/kakao/start")
        img(src="https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_wide.png")