header
    nav 
        ul 
            li 
                a(href="/") HOME
            li 
                a(href="/join") JOIN
            li 
                a(href="/login") LOGIN
            li 
                a(href="/videos/upload") UPLOAD
