header
    nav 
        ul 
            li 
                a(href="/") HOME

            if !loggedIn
                li 
                    a(href="/join") JOIN
                li 
                    a(href="/login") LOGIN
            else 
                li 
                    a(href="") #{loggedInUser.nickname}
                li 
                    a(href="/users/logout") LOGOUT
                    
            li 
                a(href="/videos/upload") UPLOAD
