extends ../base

block content 
    if errorMessage 
        span=errorMessage
    img(src="/" + loggedInUser.avatarUrl width="100" height="100")
    form(method="POST" enctype="multipart/form-data")
        label(for="avatar")
        input(type="file" id="avatar" name="avatar" accept="image/*")
        input(placeholder="이메일" name="email" type="email" value=`${loggedInUser.email}` disabled)
        input(placeholder="별명" name="nickname" type="text" value=`${loggedInUser.nickname}` required)
        input(placeholder="국가" name="nation" type="text" value=`${loggedInUser.nation}`)
        input(type="submit" value="수정")
    if !loggedInUser.socialOnly
        a(href="/users/edit-password") 
            button 비밀번호변경