extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="기존 비밀번호", type="password", required, name="currentPassword")
        input(placeholder="변경 비밀번호", type="password", required, name="changePassword")
        input(placeholder="변경 비밀번호 확인", type="password", required, name="confirmPassword")
        input(type="submit", value="PW변경")